<div class="container">

	<div class="row">
		{{input type="text" class="form-control" placeholder="What needs to be done?" value=text enter="addItem"}}
	</div>

	<div class="row">

		<div class=" col-sm-8 centered">
			<div class="panel panel-default">

				<div class="panel panel-header">

				</div>

  				<div class="panel-body">
					<form class="form-inline" role="form">
        			<ul id="todo-list">

						{{#each lists as |list|}}
          			<li>
							{{input type="checkbox" class="toggle" checked=list.done}}

			            <label>{{list.text}}</label>
							<button class="btn btn-warning" {{action 'saveItem' list}} >Save</button>
							<button class="btn btn-danger glyphicon glyphicon-remove pull-right" {{action 'removeItem'}}></button>

          			</li>
						{{else}}
						<h3>Oh no! You have nothing to do!!!</h3>
						{{/each}}

					</ul>
					</form>
  				</div>

			</div>
		</div> <!-- end of the column -->

	</div> <!-- end of row -->

</div>
{{outlet}}
